#title {
    letter-spacing: 2px;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-family: 'Courier Prime', monospace;
}

#terminal-window {
    background-color:#21262E;
    color: white;
    padding: 1rem 3rem;
    border-radius: 0px 0px 15px 15px;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'Courier Prime', monospace;
}

#terminal-header {
    background-color: #353C51;
    height: 30px;
    border-radius: 15px 15px 0px 0px;
}

#exit {
    background-color: red;
    margin-left: 15px;
}

#minimize {
    background-color: yellow;
}

#expand {
    background-color: green;
}

#title-cursor {
    width: 10px;
}

#contact-info {
    text-align: center;

}

.window-button {
    height: 15px;
    width: 15px;
    margin: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.statement {
    margin-bottom: 1rem;
}

.return-statement {
    color: #87D139;
}

.input-statement::before {
    content: "> "
}

.cursor {
    width: 8px;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    animation-name: terminal-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: inline-block;
}

.page {
    margin: 5rem 0rem;
    display: block;
    height: 100%;
}

.card {
    border-color: #21262E;
}

.contact-buttons {
    margin: 1rem;
}


body {
    color: #21262E;
    font-family: 'Courier Prime', monospace !important;
}

h2 {
    text-align: center;
    margin-bottom: 3rem;
}

@keyframes terminal-blink {
    0% {color: white;}
    50% {color: #21262E;}
    100% {color: white;}
}